.footerContainer{
    background-color: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    outline: 1px solid #fff ;
}

.footerContainer a{
    text-decoration: none;
}

.footerContainer h3{
    color: #fff;
    font-size: 0.7rem;
}