nav{
    height: 80px;
    display: flex;
    align-items: center;
}

.rowHeaderContent{
    display: flex;
    width: 90%;
    padding: 5px 0;
    margin: 0  auto;
    justify-content: space-between;
    align-items: center;
}

.hamburgerContainer{
    padding: 8px 10px;
    border: 1px solid #fff;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: #121212;
    color: #ffffff;
    cursor: pointer;
}

.rightSection{
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.userContainer,
.homeContainer{
    border: 1px solid #fdfdfd;
    font-size: 1.5rem;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    cursor:pointer;
    padding: 8px 10px;
}

.homeContainer{
    font-size: 1.4rem !important;
}

@media (min-width: 900px) {
   .rowHeaderContent{
        width: 95%;
   }
   
}