.mainContainer{
    width: 90%;
    margin: 0 auto;
}

.addEmployeeButtonContainer{
    display: flex;
    justify-content: end;
    padding-top: 10px;
}

.addEmployeeButton{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #E91E63;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

.addEmployeeButton:hover{
    background: #f64f87;
}

.employeeCardsContainer{
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    box-shadow: 0px 0px 4px 0px #ffffff;
    border-radius: 10px;
    padding: 20px 10px;
}

@media (min-width: 900px) {
    
    .mainContainer{
        width: 87%;
    }

    .addEmployeeButtonContainer{
        padding-top: 15px;
    }

    .employeeCardsContainer{
        margin-top: 15px;
    }
}