.mainContainer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.servicesContainer{
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1); 
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

.headerContainer{
    padding: 10px 0;
}

.addServiceBtn{
    padding: 5px 20px;
    color: #fff;
    background-color: #E91E63;
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s all linear;
}

.addServiceBtn:hover{
    background-color: #f88dbe;
    color: #000;
}

.serviceListContainer{
    margin: 5px 0;
}

.ulService{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, max(250px));
    justify-content: center;
}

.liService{
    margin: 15px 0;
}

@media (min-width: 900px) {

    .mainContainer{
        width: 75%;
    }

    .ulService{
        grid-template-columns: repeat(3, max(275px));
        justify-content: space-around;
    }

}