.mainContainer{
    width: 90%;
    margin: 0 auto;
}

.managerContainer{
    background-color: #00000050;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 4px 0px #fff;
    padding: 15px 5px;
}

.headerContainer{
    text-align: center;    
}

.headerContainer h3{
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 0;
}

.headerContainer p{
    font-weight: bold;
    padding: 5px 0;
    font-size: 0.8rem;
}

.scheduleContainer{
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-gap: 15px;
    margin-top: 20px;
}

.confirmSaveBtn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.saveBtn{
    padding: 5px 15px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    outline: 1px solid #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

.changeMsg{
    font-size: 1rem;
    color: #ff0000;
    padding-top: 10px;
}

.hideMsg{
    display: none;
}

@media (min-width: 900px) {
    .scheduleContainer{
        grid-template-columns: repeat(1, 90%);
        justify-content: center;
    }
}