*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  min-height: 100vh;
  background: linear-gradient(135deg, #0D0D2B 30%, #5A2A86  70%, #FF4ED2 100%);
  background-size: 600% 600%;
  animation: gradientShift 15s ease infinite;
  color: white; 
}

@keyframes gradientShift{
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}